<% if alert = flash[:alert] %>
  <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
<% end %>

<% if notice = flash[:notice] %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% end %>
<div class="grid grid-cols-1 gap-x-8 gap-y-8 py-10 md:grid-cols-3">
  <div class="px-4 sm:px-0">
    <h2 class="text-base/7 font-semibold text-gray-900">Update your Password</h2>
    <p class="mt-1 text-sm/6 text-gray-600">Dont forget to save you password somewhere safe😉</p>
  </div>

  <!--  SEE ERRORS AT TOP-->
  <%= form_with model: Current.user, url: settings_password_path, class: "bg-white ring-1 shadow-xs ring-gray-900/5 sm:rounded-xl md:col-span-2" do |f| %>
    <% if f.object.errors.any? %>
      <div>
        <% f.object.errors.full_messages.each do |message| %>
          <p class="py-2 px-3 bg-indigo-50 mb-5 text-red-500 font-medium rounded-md inline-block" id="notice"><%= message %></p>
        <% end %>
      </div>
    <% end %>

    <div class="px-4 py-6 sm:p-8">
      <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

        <!--        CURRENT PASSWORD-->
        <div class="sm:col-span-4">
          <label for="year_section" class="block text-sm/6 font-medium text-gray-900">Current Password</label>
          <div class="mt-2">
            <%= f.password_field :password_challenge, class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" %>
          </div>
        </div>
        <!--          NEW PASSWORD-->
        <div class="sm:col-span-3">
          <label for="password" class="block text-sm/6 font-medium text-gray-900">Password</label>
          <div class="mt-2">
            <%= f.password_field :password, class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" %>
          </div>
        </div>

        <!--          NEW PASS CONFIRM-->
        <div class="sm:col-span-3">
          <label for="password-confirmation" class="block text-sm/6 font-medium text-gray-900">Confirm Password</label>
          <div class="mt-2">
            <%= f.password_field :password_confirmation, class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" %>
          </div>
        </div>
      </div>
    </div>

    <!--    CANCEL AND SUBMIT-->
    <div class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8">
      <%= link_to "Cancel", settings_profile_path, class: "text-sm/6 font-semibold text-gray-900" %>
      <div class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
        <%= f.submit "Update Password" %>
      </div>
    </div>
  <% end %>
</div>
